@import '../../core/themes/themes.scss';

.home-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: calc(#{$panel-width} - 20px);
  height: calc(#{$panel-height} - 130px);
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  font-size: $font-size-big;
  font-weight: normal;
  text-align: left;
  box-sizing: border-box;
  border-radius: $border-radius-half;
  overflow-y: scroll;
  overflow-x: hidden;
  --animate-delay: 0.3s;
  @include scrollbar;
  @include backdrop-filter;
  @include theme() {
    color: get('color-primary');
    background: rgba(get('bg-panel-primary'), $bg-opacity-min);
    box-shadow: $box-shadow rgba(get('bg-shadow'), $box-shadow-opacity);
  }

  > .content {
    height: 100%;

    .icon {
      padding-right: 10px;
    }

    > .title {
      padding: 50px 20px 30px 20px;
      font-size: $font-size-big;

      &:first-child {
        padding-top: 10px;
      }
    }

    > .subtitle {
      padding: 50px 20px 30px 20px;
      font-size: $font-size-big;
      font-style: italic;
    }

    > .text {
      padding: 10px 20px 10px 20px;
      font-size: $font-size-normal;

      &:last-child {
        padding-bottom: 20px;
      }

      > .link {
        @include theme() {
          color: get('color-primary');
        }
      }

      > .note {
        margin-top: 30px;
        font-size: $font-size-normal;
        font-style: italic;
        @include theme() {
          color: get('color-secondary');
        }
      }
    }

    > .grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      padding: 0 20px 0 20px;
      font-size: $font-size-normal;

      > code {
        margin: 0;
        padding: 0;
      }

      &:last-child {
        padding-bottom: 20px;
      }

      > .link {
        @include theme() {
          color: get('color-primary');
        }
      }
    }
  }
}
